.route-ribbon-container {
    display: flex;
    justify-content: center;
    /* Center buttons horizontally */
    background-color: #f8f8f8;
    /* Optional: background color for the ribbon */
    padding: 10px;
    /* Optional: spacing around buttons */
    border-bottom: 1px solid #ccc;
    /* Optional: subtle separation */
}


.main-container {
    display: flex;
    /* Use Flexbox to layout children side by side */
    justify-content: space-between;
    /* Add space between the map and form */
    align-items: flex-start;
    /* Align the items at the top */
    height: 100vh;
    /* Full viewport height */
    padding: 10px;

}

.main-container>* {
    flex: 1;
    /* Each child takes up an equal amount of space */
    margin-right: 20px;
    /* Space between the map and form */
}

.main-container>*:last-child {
    margin-right: 0;
    /* No margin on the last child */
}